NEXTAUTH_SECRET=LYIlRdc7a39bsoQiQMFYwKBe5RD3xe+6tSxExX+fRaU=
AUTH_SECRET=LYIlRdc7a39bsoQiQMFYwKBe5RD3xe+6tSxExX+fRaU=
NEXTAUTH_URL=https://admin.rubikr.com
AUTH_TRUST_HOST=https://admin.rubikr.com
NEXT_PUBLIC_BE=https://api.rubikr.com/admin
NEXT_PUBLIC_BE_USER=https://api.rubikr.com