NEXTAUTH_SECRET=LYIlRdc7a39bsoQiQMFYwKBe5RD3xe+6tSxExX+fRaU=
AUTH_SECRET=LYIlRdc7a39bsoQiQMFYwKBe5RD3xe+6tSxExX+fRaU=
NEXTAUTH_URL=https://admin.rubicr.in
AUTH_TRUST_HOST=https://admin.rubicr.in
NEXT_PUBLIC_BE=https://api.rubicr.in/admin
NEXT_PUBLIC_BE_USER=https://api.rubicr.in

# NEXTAUTH_URL=https://admin.rubicr.ai
# AUTH_TRUST_HOST=https://admin.rubicr.ai
# NEXT_PUBLIC_BE=https://api.rubicr.ai/admin
# NEXT_PUBLIC_BE_USER=https://api.rubicr.ai