.search_Input input {
  border: 1px solid var(--border);
  background: transparent;
  width: 488.01px;
  height: 37px;
  border-radius: 2px;
  padding-inline-start: 12px;
}
.search_Input input:focus-visible {
  outline: 0;
}

.search_Input input::placeholder {
  color: var(--textLight);
  font-weight: 400;
  font-size: 14px;
}

.search_Input input::-ms-input-placeholder {
  color: var(--textLight);
  font-weight: 400;
  font-size: 14px;
}

.search_icon {
  position: absolute;
  top: 7px;
  right: 10px;
}